.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
**/*.quarto_ipynb
shapefiles/.DS_Store
shapefiles/ir_shp/al.dbf
shapefiles/ir_shp/al.prj
shapefiles/ir_shp/al.shp
shapefiles/ir_shp/al.shx
shapefiles/ir_shp/am.dbf
shapefiles/ir_shp/am.prj
shapefiles/ir_shp/am.shp
shapefiles/ir_shp/am.shx
shapefiles/ir_shp/ar.dbf
shapefiles/ir_shp/ar.prj
shapefiles/ir_shp/ar.shp
shapefiles/ir_shp/ar.shx
shapefiles/ir_shp/at.dbf
shapefiles/ir_shp/at.prj
shapefiles/ir_shp/at.shp
shapefiles/ir_shp/at.shx
shapefiles/ir_shp/az.dbf
shapefiles/ir_shp/az.prj
shapefiles/ir_shp/az.shp
shapefiles/ir_shp/az.shx
shapefiles/ir_shp/bo.dbf
shapefiles/ir_shp/bo.prj
shapefiles/ir_shp/bo.shp
shapefiles/ir_shp/bo.shx
shapefiles/ir_shp/br.dbf
shapefiles/ir_shp/br.prj
shapefiles/ir_shp/br.shp
shapefiles/ir_shp/br.shx
shapefiles/ir_shp/bt.dbf
shapefiles/ir_shp/bt.prj
shapefiles/ir_shp/bt.shp
shapefiles/ir_shp/bt.shx
shapefiles/ir_shp/by.dbf
shapefiles/ir_shp/by.prj
shapefiles/ir_shp/by.shp
shapefiles/ir_shp/by.shx
shapefiles/ir_shp/cf.dbf
shapefiles/ir_shp/cf.prj
shapefiles/ir_shp/cf.shp
shapefiles/ir_shp/cf.shx
shapefiles/ir_shp/cg.dbf
shapefiles/ir_shp/cg.prj
shapefiles/ir_shp/cg.shp
shapefiles/ir_shp/cg.shx
shapefiles/ir_shp/ch.dbf
shapefiles/ir_shp/ch.prj
shapefiles/ir_shp/ch.shp
shapefiles/ir_shp/ch.shx
shapefiles/ir_shp/cl.dbf
shapefiles/ir_shp/cl.prj
shapefiles/ir_shp/cl.shp
shapefiles/ir_shp/cl.shx
shapefiles/ir_shp/cr.dbf
shapefiles/ir_shp/cr.prj
shapefiles/ir_shp/cr.shp
shapefiles/ir_shp/cr.shx
shapefiles/ir_shp/de.dbf
shapefiles/ir_shp/de.prj
shapefiles/ir_shp/de.shp
shapefiles/ir_shp/de.shx
shapefiles/ir_shp/dj.dbf
shapefiles/ir_shp/dj.prj
shapefiles/ir_shp/dj.shp
shapefiles/ir_shp/dj.shx
shapefiles/ir_shp/dk.dbf
shapefiles/ir_shp/dk.prj
shapefiles/ir_shp/dk.shp
shapefiles/ir_shp/dk.shx
shapefiles/ir_shp/ee.dbf
shapefiles/ir_shp/ee.prj
shapefiles/ir_shp/ee.shp
shapefiles/ir_shp/ee.shx
shapefiles/ir_shp/eh.dbf
shapefiles/ir_shp/eh.prj
shapefiles/ir_shp/eh.shp
shapefiles/ir_shp/eh.shx
shapefiles/ir_shp/er.dbf
shapefiles/ir_shp/er.prj
shapefiles/ir_shp/er.shp
shapefiles/ir_shp/er.shx
shapefiles/ir_shp/gb.dbf
shapefiles/ir_shp/gb.prj
shapefiles/ir_shp/gb.shp
shapefiles/ir_shp/gb.shx
shapefiles/ir_shp/ge.dbf
shapefiles/ir_shp/ge.prj
shapefiles/ir_shp/ge.shp
shapefiles/ir_shp/ge.shx
shapefiles/ir_shp/gr.dbf
shapefiles/ir_shp/gr.prj
shapefiles/ir_shp/gr.shp
shapefiles/ir_shp/gr.shx
shapefiles/ir_shp/gy.dbf
shapefiles/ir_shp/gy.prj
shapefiles/ir_shp/gy.shp
shapefiles/ir_shp/gy.shx
shapefiles/ir_shp/hu.dbf
shapefiles/ir_shp/hu.prj
shapefiles/ir_shp/hu.shp
shapefiles/ir_shp/hu.shx
shapefiles/ir_shp/ie.dbf
shapefiles/ir_shp/ie.prj
shapefiles/ir_shp/ie.shp
shapefiles/ir_shp/ie.shx
shapefiles/ir_shp/il.dbf
shapefiles/ir_shp/il.prj
shapefiles/ir_shp/il.shp
shapefiles/ir_shp/il.shx
shapefiles/ir_shp/in.dbf
shapefiles/ir_shp/in.prj
shapefiles/ir_shp/in.shp
shapefiles/ir_shp/in.shx
shapefiles/ir_shp/ir.dbf
shapefiles/ir_shp/ir.prj
shapefiles/ir_shp/ir.shp
shapefiles/ir_shp/ir.shx
shapefiles/ir_shp/it.dbf
shapefiles/ir_shp/it.prj
shapefiles/ir_shp/it.shp
shapefiles/ir_shp/it.shx
shapefiles/ir_shp/kr.dbf
shapefiles/ir_shp/kr.prj
shapefiles/ir_shp/kr.shp
shapefiles/ir_shp/kr.shx
shapefiles/ir_shp/license_gis.txt
shapefiles/ir_shp/lr.dbf
shapefiles/ir_shp/lr.prj
shapefiles/ir_shp/lr.shp
shapefiles/ir_shp/lr.shx
shapefiles/ir_shp/lt.dbf
shapefiles/ir_shp/lt.prj
shapefiles/ir_shp/lt.shp
shapefiles/ir_shp/lt.shx
shapefiles/ir_shp/ly.dbf
shapefiles/ir_shp/ly.prj
shapefiles/ir_shp/ly.shp
shapefiles/ir_shp/ly.shx
shapefiles/ir_shp/mf.dbf
shapefiles/ir_shp/mf.prj
shapefiles/ir_shp/mf.shp
shapefiles/ir_shp/mf.shx
shapefiles/ir_shp/mn.dbf
shapefiles/ir_shp/mn.prj
shapefiles/ir_shp/mn.shp
shapefiles/ir_shp/mn.shx
shapefiles/ir_shp/mw.dbf
shapefiles/ir_shp/mw.prj
shapefiles/ir_shp/mw.shp
shapefiles/ir_shp/mw.shx
shapefiles/ir_shp/my.dbf
shapefiles/ir_shp/my.prj
shapefiles/ir_shp/my.shp
shapefiles/ir_shp/my.shx
shapefiles/ir_shp/ni.dbf
shapefiles/ir_shp/ni.prj
shapefiles/ir_shp/ni.shp
shapefiles/ir_shp/ni.shx
shapefiles/ir_shp/om.dbf
shapefiles/ir_shp/om.prj
shapefiles/ir_shp/om.shp
shapefiles/ir_shp/om.shx
shapefiles/ir_shp/pe.dbf
shapefiles/ir_shp/pe.prj
shapefiles/ir_shp/pe.shp
shapefiles/ir_shp/pe.shx
shapefiles/ir_shp/pl.dbf
shapefiles/ir_shp/pl.prj
shapefiles/ir_shp/pl.shp
shapefiles/ir_shp/pl.shx
shapefiles/ir_shp/ps.dbf
shapefiles/ir_shp/ps.prj
shapefiles/ir_shp/ps.shp
shapefiles/ir_shp/ps.shx
shapefiles/ir_shp/ro.dbf
shapefiles/ir_shp/ro.prj
shapefiles/ir_shp/ro.shp
shapefiles/ir_shp/ro.shx
shapefiles/ir_shp/se.dbf
shapefiles/ir_shp/se.prj
shapefiles/ir_shp/se.shp
shapefiles/ir_shp/se.shx
shapefiles/ir_shp/sk.dbf
shapefiles/ir_shp/sk.prj
shapefiles/ir_shp/sk.shp
shapefiles/ir_shp/sk.shx
shapefiles/ir_shp/sr.dbf
shapefiles/ir_shp/sr.prj
shapefiles/ir_shp/sr.shp
shapefiles/ir_shp/sr.shx
shapefiles/ir_shp/ss.dbf
shapefiles/ir_shp/ss.prj
shapefiles/ir_shp/ss.shp
shapefiles/ir_shp/ss.shx
shapefiles/ir_shp/sx.dbf
shapefiles/ir_shp/sx.prj
shapefiles/ir_shp/sx.shp
shapefiles/ir_shp/sx.shx
shapefiles/ir_shp/tj.dbf
shapefiles/ir_shp/tj.prj
shapefiles/ir_shp/tj.shp
shapefiles/ir_shp/tj.shx
shapefiles/ir_shp/tr.dbf
shapefiles/ir_shp/tr.prj
shapefiles/ir_shp/tr.shp
shapefiles/ir_shp/tr.shx
shapefiles/ir_shp/uy.dbf
shapefiles/ir_shp/uy.prj
shapefiles/ir_shp/uy.shp
shapefiles/ir_shp/uy.shx
shapefiles/ir_shp/uz.dbf
shapefiles/ir_shp/uz.prj
shapefiles/ir_shp/uz.shp
shapefiles/ir_shp/uz.shx
shapefiles/ir_shp/vn.dbf
shapefiles/ir_shp/vn.prj
shapefiles/ir_shp/vn.shp
shapefiles/ir_shp/vn.shx
shapefiles/ir_shp/za.dbf
shapefiles/ir_shp/za.prj
shapefiles/ir_shp/za.shp
shapefiles/ir_shp/za.shx
shapefiles/ir_shp/zm.dbf
shapefiles/ir_shp/zm.prj
shapefiles/ir_shp/zm.shp
shapefiles/ir_shp/zm.shx
shapefiles/iran-administrative/a-readme-first.txt
shapefiles/iran-administrative/iran_administrative.dbf
shapefiles/iran-administrative/iran_administrative.prj
shapefiles/iran-administrative/iran_administrative.shp
shapefiles/iran-administrative/iran_administrative.shx
shapefiles/iran-location/a-readme-first.txt
shapefiles/iran-location/iran_location.dbf
shapefiles/iran-location/iran_location.prj
shapefiles/iran-location/iran_location.shp
shapefiles/iran-location/iran_location.shx
shapefiles/iran-places/a-readme-first.txt
shapefiles/iran-places/iran_places.cpg
shapefiles/iran-places/iran_places.dbf
shapefiles/iran-places/iran_places.prj
shapefiles/iran-places/iran_places.shp
shapefiles/iran-places/iran_places.shx
shapefiles/states_map/geoBoundariesCGAZ_ADM0.dbf
shapefiles/states_map/geoBoundariesCGAZ_ADM0.prj
shapefiles/states_map/geoBoundariesCGAZ_ADM0.shp
shapefiles/states_map/geoBoundariesCGAZ_ADM0.shx
